body {
  background-color: #072443;
}

.navbar {
  margin-bottom: 20px;
  color: white;
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-link {
  color: rgb(15, 2, 2);
  margin-right: 10px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  color: azure;
}